<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Seances list</div>
                <table class="table">
                    <tr th:each="seance,status : ${seanceList}">
                        <td><a th:text="${seance.getFilm().getName()}" th:href="${status.count}"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>