<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"/>

<body>

<div>
    <div class="container">
        <div class="row">
            <nav th:replace="fragments/navBar :: navBar"></nav>
            <div class="panel panel-default">
                <div class="panel-heading">Unexpected error</div>
                <div class="panel-body">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        Sorry, but unexpected error occurred. Please, go <a href="javascript:window.history.go(-1);">back</a> and try again.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>